
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.refund{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 25px;
  height: 25px;
  color: #fff;
  background-color: red;
  border: 1px solid #efefef;
  border-radius: 4px;
  cursor: pointer;
}

.refunded{
  border: 1px solid #ff00004a;
  background: #ff00004a;
}
